input-cache/**
output/**
temp/**
template/**
.vscode/**
resources/implementationguide/ig-*.*
org.hl7.*.jar
*.jar
qa/**
txcache/**
www/*
!www/package-list.json
!www/publish.ini
fsh-generated/**
.DS_Store