<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <!--<li><a href="toc.html">Table of Contents</a></li>-->
  <li><a href="index.html">Home</a></li>
  <li><a href="profiles.html">Profiles</a></li>
  <li><a href="extensions.html">Extensions</a></li>
  <li><a href="terminology.html">Terminology</a></li>
  <li><a href="artifacts.html">Artifacts</a></li>
</ul>